<mat-card>
  <mat-tab-group fullWidth>
    <mat-tab [tabTitle]="'DASHBOARD.USERS' | translate">
      <div class="chart-container">
        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
        <ngx-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)"
                                [chartLegend]="chartLegend">
        </ngx-chart-panel-header>
        <ngx-orders-chart #ordersChart [ordersChartData]="ordersChartData"></ngx-orders-chart>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
