<div class="row">
  <div class="col-xxl-12">
    <ngx-transaction-analytics-charts></ngx-transaction-analytics-charts>
  </div>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>
    {{ 'TRANSACTION.LABELS.LIST' | translate }}
  </mat-card-title>
  </mat-card-header>

  <mat-card-content [nbSpinner]="loading" nbSpinnerStatus="danger">
    <angular2-smart-table [settings]="settings" [source]="source" (delete)="onDeleteConfirm($event)" (edit)="edit($event)">
    </angular2-smart-table>
  </mat-card-content>
</mat-card>