<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body [nbSpinner]="showProgress" nbSpinnerStatus="danger">
                <form (ngSubmit)="saveResident()" #form="ngForm">

                    <div *ngIf="!editId" class="row">
                        <div class="col-md-12">
                            <nb-card>
                                <nb-card-header>{{ 'RESIDENT.FIELDS.USER.HEADER' | translate }}</nb-card-header>
                                <nb-card-body>
                                    <div class="form-group">
                                        <label>{{ 'USER.NAME.LABEL' | translate }}</label>
                                        <input type="email" nbInput fullWidth placeholder="Name" name="name"
                                            [(ngModel)]="residentRequest.name" #name=ngModel required>
                                        <label [hidden]="name.valid || name.pristine" class="error text-danger">
                                            {{ 'USER.NAME.VALIDATION' | translate }}
                                        </label>
                                        <label class="error text-danger"
                                            *ngFor="let error of residentError.name">{{error}}</label>
                                    </div>
                                    <div class="form-group">
                                        <label>{{ 'USER.EMAIL.LABEL' | translate }}</label>
                                        <input type="email" nbInput fullWidth placeholder="Email" name="email"
                                            [(ngModel)]="residentRequest.email" #email=ngModel required>
                                        <label [hidden]="email.valid || email.pristine" class="error text-danger">
                                            {{ 'USER.EMAIL.VALIDATION' | translate }}
                                        </label>
                                        <label class="error text-danger"
                                            *ngFor="let error of residentError.email">{{error}}</label>
                                    </div>
                                    <div class="form-group">
                                        <label>{{ 'USER.MOBILE_NUMBER.LABEL' | translate }}</label>
                                        <input type="mobile_number" nbInput fullWidth placeholder="Mobile Number"
                                            name="mobile_number" [(ngModel)]="residentRequest.mobile_number"
                                            #mobile_number=ngModel required>
                                        <label [hidden]="mobile_number.valid || mobile_number.pristine"
                                            class="error text-danger">
                                            {{ 'USER.MOBILE_NUMBER.VALIDATION' | translate }}
                                        </label>
                                        <label class="error text-danger"
                                            *ngFor="let error of residentError.mobile_number">{{error}}</label>
                                    </div>
                                    <div class="form-group">
                                        <label>{{ 'USER.PASSWORD.LABEL' | translate }}</label>
                                        <input type="password" nbInput fullWidth id="password" placeholder="Password"
                                            name="password" [(ngModel)]="residentRequest.password" #password=ngModel>
                                        <label [hidden]="password.valid || password.pristine" class="error text-danger">
                                            {{ 'USER.PASSWORD.VALIDATION' | translate }}
                                        </label>
                                        <label class="error text-danger"
                                            *ngFor="let error of residentError.password">{{error}}</label>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'RESIDENT.IS_APPROVED.LABEL' | translate }}</label>
                        <nb-checkbox class="form-control" name="is_approved" nbInput fullWidth
                            [checked]="residentRequest.is_approved"
                            (checkedChange)="onIsApprovedChange($event)">{{ 'RESIDENT.IS_APPROVED.LABEL' |
                            translate }}?</nb-checkbox>
                        <label class="error text-danger"
                            *ngFor="let error of residentError.is_approved">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'RESIDENT.FIELDS.TYPE.LABEL' | translate }}</label>
                        <nb-select fullWidth name="type" id="type" [(ngModel)]="residentRequest.type" #type=ngModel
                            style="text-transform:capitalize">
                            <nb-option *ngFor="let type of typeList" [value]="type">{{ type }}
                            </nb-option>
                        </nb-select>
                        <label class="error text-danger" *ngFor="let error of residentError.type">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'RESIDENT.FIELDS.PROJECT.LABEL' | translate }}</label>
                        <nb-select fullWidth (selectedChange)="onProjectChange($event)" name="project_id"
                            style="text-transform: capitalize" [(ngModel)]="residentRequest.project_id"
                            #project_id=ngModel>
                            <nb-option *ngFor="let project of projects" [value]="project.id">
                                {{ project.title }}</nb-option>
                        </nb-select>
                    </div>
                    <div class="form-group">
                        <label>{{ 'RESIDENT.FIELDS.BUILDING.LABEL' | translate }}</label>
                        <nb-select fullWidth name="building_id" [(ngModel)]="residentRequest.building_id"
                            #building_id=ngModel style="text-transform: capitalize"
                            (selectedChange)="onBuildingChange($event)">
                            <nb-option *ngFor="let building of buildings" [value]="building.id">
                                {{ building.title }}</nb-option>
                        </nb-select>
                        <label class="error text-danger"
                            *ngFor="let error of residentError.building_id">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'RESIDENT.FIELDS.FLAT.LABEL' | translate }}</label>
                        <nb-select fullWidth name="flat_id" [(ngModel)]="residentRequest.flat_id" #flat_id=ngModel
                            style="text-transform: capitalize">
                            <nb-option *ngFor="let flat of flats" [value]="flat.id">
                                {{ flat.title }}</nb-option>
                        </nb-select>
                        <label class="error text-danger" *ngFor="let error of residentError.flat_id">{{error}}</label>
                    </div>

                    <ngx-metaeditor [(meta)]="residentRequest.meta"></ngx-metaeditor>

                    <button type="submit" [disabled]="!form.form.valid || showProgressButton" nbButton status="success"
                        size="medium" [nbSpinner]="showProgressButton" nbSpinnerStatus="success" nbSpinnerSize="small">
                        {{ 'COMMON.SAVE' | translate }}
                    </button>
                    &nbsp;
                    <button type="button" nbButton status="danger" size="medium" (click)="back()">
                        {{ 'COMMON.BACK' | translate }}
                    </button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>