<mat-card>

  <mat-card-header>
    <mat-card-title>
    <span>{{ 'DASHBOARD.USER_ACTIVITY' | translate }}</span>
    <mat-form-field appearance="outline">
      <mat-select [(value)]="type" (selectionChange)="getUserActivity($event.value)">
        <mat-option *ngFor="let t of types" [value]="t">{{ t }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-title>
  </mat-card-header>

  <mat-list class="user-activity-list">
    <mat-list-item *ngFor="let item of userActivity">

      <div class="visited-date">
        {{ item.date }}
      </div>

      <div class="visited-pages-count">
        <div class="caption">Pages Visit</div>
        <div class="value">{{ item.pagesVisitCount }}</div>
      </div>

      <div class="visited-percentages">
        <div class="caption">New visits, %</div>
        <div class="delta value" [class.up]="item.deltaUp" [class.down]="!item.deltaUp">
          <mat-icon>{{ item.deltaUp ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
          {{ item.newVisits }}%
        </div>
      </div>

    </mat-list-item>
  </mat-list>

</mat-card>
