<div class="header-container">
  <div class="logo-container">
    <button mat-icon-button (click)="toggleSidebar()" class="sidebar-toggle">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="logo" href="#" (click)="navigateHome()">{{ appName }}</a>
  </div>
  <mat-form-field appearance="outline" class="theme-selector">
    <mat-label>Theme</mat-label>
    <mat-select [value]="currentTheme" (selectionChange)="changeTheme($event.value)">
      <mat-option *ngFor="let theme of themes" [value]="theme.value">{{ theme.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="header-container">
  <button mat-icon-button (click)="logout()" class="logout-button" matTooltip="Logout">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</div>
