<h1 id="title" class="title">Login</h1>
<p class="sub-title">Hello! Log in with your email.</p>

<div *ngIf="showMessages.error && errors?.length && !submitted" class="alert alert-danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</div>

<div *ngIf="showMessages.success && messages?.length && !submitted" class="alert alert-success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</div>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email address</mat-label>
    <input matInput [(ngModel)]="user.email" #email="ngModel" name="email" id="input-email" 
      pattern=".+@.+\..+" placeholder="Email address" autofocus
      [required]="getConfigValue('forms.validation.email.required')">
    <mat-error *ngIf="email.errors?.required">Email is required!</mat-error>
    <mat-error *ngIf="email.errors?.pattern">Email should be the real one!</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="user.password" #password="ngModel" name="password" 
      type="password" id="input-password" placeholder="Password"
      [required]="getConfigValue('forms.validation.password.required')"
      [minlength]="getConfigValue('forms.validation.password.minLength')"
      [maxlength]="getConfigValue('forms.validation.password.maxLength')">
    <mat-error *ngIf="password.errors?.required">Password is required!</mat-error>
    <mat-error *ngIf="password.errors?.minlength || password.errors?.maxlength">
      Password should contain from {{ getConfigValue('forms.validation.password.minLength') }}
      to {{ getConfigValue('forms.validation.password.maxLength') }} characters
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Language</mat-label>
    <mat-select name="selectedLanguage" id="selectedLanguage" [(ngModel)]="language.selectedLanguage"
      #selectedLanguage=ngModel style="text-transform:capitalize">
      <mat-option *ngFor="let langauge of languages | async" [value]="langauge">{{ langauge | languageTitle }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-control-group accept-group">
    <mat-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</mat-checkbox>
  </div>

  <button mat-raised-button color="primary" class="full-width" [disabled]="submitted || !form.valid"
    [class.btn-pulse]="submitted">
    Log In
  </button>
</form>
