<div class="row">
    <div class="col-md-12">
        <mat-card>
            <mat-card-content [nbSpinner]="showProgress" nbSpinnerStatus="danger">
                <form (ngSubmit)="saveComplaint()" #form="ngForm">
                    <div class="form-group">
                        <label>{{ 'COMPLAINT.FIELDS.TYPE.LABEL' | translate }}</label>
                        <input readonly class="form-control" [value]="complaint.type" />
                    </div>
                    <div class="form-group">
                        <label>{{ 'COMPLAINT.FIELDS.MESSAGE.LABEL' | translate }}</label>
                        <input readonly class="form-control" [value]="complaint.message" />
                    </div>
                    <div class="form-group">
                        <label>{{ 'COMPLAINT.FIELDS.USER.LABEL' | translate }}</label>
                        <input readonly class="form-control" [value]="complaint?.user?.mobile_number" />
                    </div>
                    <div class="form-group">
                        <label>{{ 'COMPLAINT.FIELDS.PROJECT.LABEL' | translate }}</label>
                        <input readonly class="form-control" [value]="complaint?.project?.title" />
                    </div>

                    <div class="form-group">
                        <label>{{ 'COMPLAINT.FIELDS.STATUS.LABEL' | translate }}</label>
                        <mat-form-field>
                        <mat-select fullWidth name="status" id="status" [(ngModel)]="complaintRequest.status"
                            #status=ngModel style="text-transform:capitalize">
                            <mat-option *ngFor="let status of statusList" [value]="status">{{ status }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                        <label class="error text-danger" *ngFor="let error of complaintError.status">{{error}}</label>
                    </div>

                    <ngx-metaeditor [(meta)]="complaint.meta"></ngx-metaeditor>

                    <button type="submit" [disabled]="!form.form.valid || showProgressButton" mat-flat-button color="accent"
                        size="medium" [nbSpinner]="showProgressButton" nbSpinnerStatus="success" nbSpinnerSize="small">
                        {{ 'COMMON.SAVE' | translate }}
                    </button>
                    &nbsp;
                    <button type="button" mat-flat-button color="warn" size="medium" (click)="back()">
                        {{ 'COMMON.BACK' | translate }}
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>