<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'DASHBOARD.ACTIVE_ORDERS' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="apiLoaded | async">
      <google-map #googleMap width="100%">
        <map-marker *ngFor="let order of orders"
          [position]="{ lat: parseFloat(order.address.latitude), lng: parseFloat(order.address.longitude) }" label="C"
          (mapClick)="open(orderInfoDialog, order)">
        </map-marker>
      </google-map>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #orderInfoDialog let-data let-ref="dialogRef">
  <mat-card>
    <mat-card-header>
    <mat-card-title>{{ 'DASHBOARD.ORDER' | translate }} #{{data.id}}</mat-card-title>
  </mat-card-header>
    <mat-card-content>
      <div class="row p-2">
        <div class="col-sm-3">
          <mat-icon>person-outline</mat-icon>
        </div>
        <div class="col-sm-8">{{data.user.mobile_number}}</div>
      </div>
      <div class="row p-2">
        <div class="col-sm-3">
          <mat-icon>people-outline</mat-icon>
        </div>
        <div class="col-sm-8">{{data.vendor.name}}</div>
      </div>
      <div class="row p-2">
        <div class="col-sm-3">
          <mat-icon>car-outline</mat-icon>
        </div>
        <div class="col-sm-8">
          <span *ngIf="data.delivery?.delivery">{{data.delivery?.delivery?.user.mobile_number }}</span>
          <span *ngIf="!data.delivery?.delivery">{{ 'COMMON.NOT_AVAILABLE' | translate }}</span>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-sm-3">
          <mat-icon>info-outline</mat-icon>
        </div>
        <div class="col-sm-8">{{data.status}}</div>
      </div>
      <div></div>
    </mat-card-content>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">{{ 'COMMON.CLOSE' | translate }}</button>
    </nb-card-footer>
  </mat-card>
</ng-template>