<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-content [nbSpinner]="showProgress" nbSpinnerStatus="danger">
        <form (ngSubmit)="saveMedia()" #form="ngForm">
          <div class="row">
            <div class="col-md-12">
              <mat-card>
                <mat-card-header>
    <mat-card-title>{{ 'MEDIA.FIELDS.TITLE.HEADER' | translate }}</mat-card-title>
  </mat-card-header>
                <mat-card-content>
                  <div [formGroup]="titleGroupForm">
                    <div formArrayName="items">
                      <div class="form-group" *ngFor="let alias of getTitleItems().controls; let i=index">
                        <label>{{ 'MEDIA.FIELDS.TITLE.LABEL' | translate }} <span class="language-label">{{ languages[i]
                            | languageTitle }}</span></label>
                        <textarea nbInput fullWidth formControlName="{{i}}"></textarea>
                      </div>
                    </div>
                  </div>
                  <label class="error text-danger"
                    *ngFor="let error of mediaError?.title_translations">{{error}}</label>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'MEDIA.FIELDS.USER.LABEL' | translate }}</label>
            <nb-select fullWidth name="user_id" [(ngModel)]="mediaRequest.user_id" #user_id=ngModel
              style="text-transform: capitalize">
              <nb-option *ngFor="let user of users" [value]="user.id">{{ user.mobile_number }} ({{ user.name }})
              </nb-option>
            </nb-select>
            <label class="error text-danger" *ngFor="let error of mediaError.user_id">{{error}}</label>
          </div>
          <div class="form-group">
            <label>{{ 'MEDIA.FIELDS.STATUS.LABEL' | translate }}</label>
            <nb-select fullWidth name="status" id="status" [(ngModel)]="mediaRequest.status" #status=ngModel>
              <nb-option *ngFor="let status of statusList" [value]="status">{{ status }}</nb-option>
            </nb-select>
          </div>
          <div class="form-group">
            <label>{{ 'MEDIA.FIELDS.CONTENT.LABEL' | translate }}</label>
            <input type="text" nbInput fullWidth placeholder="Content Url" name="content_url"
              [(ngModel)]="mediaRequest.content_url" #content_url=ngModel required>
            <label [hidden]="content_url.valid || content_url.pristine" class="error text-danger">
              {{ 'MEDIA.FIELDS.CONTENT.VALIDATION' | translate }}
            </label>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-card>
                <mat-card-header>
    <mat-card-title>{{ 'MEDIA.FIELDS.IMAGE.HEADER' | translate }}</mat-card-title>
  </mat-card-header>
                <mat-card-content>
                  <div class="form-group" *ngFor="let image of [].constructor(5); let i = index;">
                    <label>{{ 'MEDIA.FIELDS.IMAGE.LABEL' | translate }}</label>
                    <input type="file" nbInput fullWidth (change)="onImageChanged($event, i)">
                    <a *ngIf="media?.medialibrary?.images && media?.medialibrary?.images[i]"
                      [href]="media?.medialibrary?.images[i]?.default" target="_blank">{{
                      media?.medialibrary?.images[i]?.default }}</a>
                  </div>
                  <label class="error text-danger" *ngFor="let error of mediaError?.images">{{error}}</label>
                </mat-card-content>
              </mat-card>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-card>
                <mat-card-header>
    <mat-card-title>{{ 'MEDIA.FIELDS.STATS.HEADER' | translate }}</mat-card-title>
  </mat-card-header>
                <mat-card-content>
                  <div class="form-group">
                    <label>{{ 'MEDIA.FIELDS.STATS.LIKES_COUNT.LABEL' | translate }}</label>
                    <input type="text" readonly nbInput fullWidth [value]="media.likes_count">
                  </div>
                  <div class="form-group">
                    <label>{{ 'MEDIA.FIELDS.STATS.COMMENTS_COUNT.LABEL' | translate }}</label>
                    <input type="text" readonly nbInput fullWidth [value]="media.comments_count">
                  </div>
                  <div class="form-group">
                    <label>{{ 'MEDIA.FIELDS.STATS.VIEWS_COUNT.LABEL' | translate }}</label>
                    <input type="text" readonly nbInput fullWidth [value]="media.views_count">
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>

          <ngx-metaeditor [(meta)]="mediaRequest.meta"></ngx-metaeditor>

          <div class="row" *ngIf="editId">
            <div class="col-md-12">
              <mat-card>
                <mat-card-header>
    <mat-card-title>{{ 'COMMON.MORE_ACTIONS' | translate }}</mat-card-title>
  </mat-card-header>
                <mat-card-content>
                  <a [routerLink]="['/pages/comments/list']" [queryParams]="{media: editId}" nbButton
                    status="info">View All Comments</a>
                </mat-card-content>
              </mat-card>
            </div>
          </div>

          <button type="submit" [disabled]="!form.form.valid || showProgressButton" nbButton status="success"
            size="medium" [nbSpinner]="showProgressButton" nbSpinnerStatus="success" nbSpinnerSize="small">
            {{ 'COMMON.SAVE' | translate }}
          </button>
          &nbsp;
          <button type="button" nbButton status="danger" size="medium" (click)="back()">
            {{ 'COMMON.BACK' | translate }}
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>