<div class="row">
    <div class="col-md-12">
        <mat-card>
            <mat-card-content [nbSpinner]="showProgress" nbSpinnerStatus="danger">
                <form (ngSubmit)="savePaymentrequest()" #form="ngForm">
                    <div class="form-group">
                        <label>{{ 'PAYMENTREQUEST.FIELDS.TITLE.LABEL' | translate }}</label>
                        <input type="text" nbInput fullWidth placeholder="Title" name="title"
                            [(ngModel)]="paymentrequestRequest.title" #title=ngModel required>
                        <label [hidden]="title.valid || title.pristine" class="error text-danger">
                            {{ 'PAYMENTREQUEST.FIELDS.TITLE.VALIDATION' | translate }}
                        </label>
                        <label class="error text-danger"
                            *ngFor="let error of paymentrequestError.title">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'PAYMENTREQUEST.FIELDS.AMOUNT.LABEL' | translate }}</label>
                        <input type="number" nbInput fullWidth placeholder="Amount" name="amount"
                            [(ngModel)]="paymentrequestRequest.amount" #amount=ngModel required>
                        <label [hidden]="amount.valid || amount.pristine" class="error text-danger">
                            {{ 'PAYMENTREQUEST.FIELDS.AMOUNT.VALIDATION' | translate }}
                        </label>
                        <label class="error text-danger"
                            *ngFor="let error of paymentrequestError.title">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'PAYMENTREQUEST.FIELDS.DUEDATE.LABEL' | translate }}</label>
                        <input type="date" nbInput fullWidth placeholder="Duedate" name="duedate"
                            [(ngModel)]="paymentrequestRequest.duedate" #duedate=ngModel required>
                        <label [hidden]="duedate.valid || duedate.pristine" class="error text-danger">
                            {{ 'PAYMENTREQUEST.FIELDS.DUEDATE.VALIDATION' | translate }}
                        </label>
                        <label class="error text-danger"
                            *ngFor="let error of paymentrequestError.title">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'PAYMENTREQUEST.FIELDS.PROJECT.LABEL' | translate }}</label>
                        <nb-select fullWidth (selectedChange)="onProjectChange($event)" name="project_id"
                            style="text-transform: capitalize" [(ngModel)]="paymentrequestRequest.project_id"
                            #project_id=ngModel>
                            <nb-option *ngFor="let project of projects" [value]="project.id">
                                {{ project.title }}</nb-option>
                        </nb-select>
                    </div>
                    <div class="form-group">
                        <label>{{ 'PAYMENTREQUEST.FIELDS.BUILDING.LABEL' | translate }}</label>
                        <nb-select fullWidth name="building_id" [ngModel]="paymentrequest?.flat?.building_id"
                            #building_id=ngModel style="text-transform: capitalize"
                            (selectedChange)="onBuildingChange($event)">
                            <nb-option *ngFor="let building of buildings" [value]="building.id">
                                {{ building.title }}</nb-option>
                        </nb-select>
                    </div>
                    <div class="form-group">
                        <label>{{ 'PAYMENTREQUEST.FIELDS.FLAT.LABEL' | translate }}</label>
                        <nb-select fullWidth name="flat_id" [(ngModel)]="paymentrequestRequest.flat_id" #flat_id=ngModel
                            style="text-transform: capitalize">
                            <nb-option *ngFor="let flat of flats" [value]="flat.id">
                                {{ flat.title }}</nb-option>
                        </nb-select>
                        <label class="error text-danger" *ngFor="let error of paymentrequestError.flat_id">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'PAYMENTREQUEST.FIELDS.STATUS.LABEL' | translate }}</label>
                        <nb-select fullWidth name="status" id="status" [(ngModel)]="paymentrequestRequest.status" #status=ngModel
                            style="text-transform:capitalize">
                            <nb-option *ngFor="let status of statusList" [value]="status">{{ status }}
                            </nb-option>
                        </nb-select>
                        <label class="error text-danger" *ngFor="let error of paymentrequestError.status">{{error}}</label>
                    </div>

                    <ngx-metaeditor [(meta)]="paymentrequestRequest.meta"></ngx-metaeditor>

                    <button type="submit" [disabled]="!form.form.valid || showProgressButton" nbButton status="success"
                        size="medium" [nbSpinner]="showProgressButton" nbSpinnerStatus="success" nbSpinnerSize="small">
                        {{ 'COMMON.SAVE' | translate }}
                    </button>
                    &nbsp;
                    <button type="button" nbButton status="danger" size="medium" (click)="back()">
                        {{ 'COMMON.BACK' | translate }}
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>