<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
    <mat-card-title>{{ 'SETTINGS.LABELS.ENV' | translate }}</mat-card-title>
  </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="updateEnv()">
          <div class="row">
            <div class="col-md-12">
              <mat-card>
                <mat-card-header>
    <mat-card-title>{{ 'SETTINGS.APP_CONFIG.LABEL' | translate }}</mat-card-title>
  </mat-card-header>
                <mat-card-content>
                  <div class="form-group">
                    <label>{{ 'SETTINGS.APP_CONFIG.TIMEZONE.LABEL' | translate }}</label>
                    <mat-select fullWidth name="app_timezone" id="app_timezone" [(ngModel)]="env.APP_TIMEZONE"
                      name="app_timezone">
                      <mat-option *ngFor="let timezone of timezoneList" [value]="timezone">{{ timezone }}</mat-option>
                    </mat-select>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-card>
                <mat-card-header>
    <mat-card-title>{{ 'SETTINGS.PUSH_NOTIFICATIONS.LABEL' | translate }}</mat-card-title>
  </mat-card-header>
                <mat-card-content>
                  <div class="form-group">
                    <label>{{ 'SETTINGS.EMAIL_SETTINGS.ONESIGNAL_APP_ID_CUSTOMER.LABEL' | translate }}</label>
                    <input nbInput fullWidth [(ngModel)]="env.ONESIGNAL_APP_ID_CUSTOMER"
                      name="ONESIGNAL_APP_ID_CUSTOMER" />
                  </div>
                  <div class="form-group">
                    <label>{{ 'SETTINGS.EMAIL_SETTINGS.ONESIGNAL_REST_API_CUSTOMER.LABEL' | translate }}</label>
                    <input nbInput fullWidth [(ngModel)]="env.ONESIGNAL_REST_API_CUSTOMER"
                      name="ONESIGNAL_REST_API_CUSTOMER" />
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <button type="submit" nbButton status="success" size="medium" [nbSpinner]="showProgressButton"
            nbSpinnerStatus="primary" nbSpinnerSize="small">
            {{ 'COMMON.SAVE' | translate }}
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>