<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>{{ 'SETTINGS.LABELS.ENV' | translate }}</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="updateEnv()">
          <div class="row">
            <div class="col-md-12">
              <nb-card>
                <nb-card-header>{{ 'SETTINGS.APP_CONFIG.LABEL' | translate }}</nb-card-header>
                <nb-card-body>
                  <div class="form-group">
                    <label>{{ 'SETTINGS.APP_CONFIG.TIMEZONE.LABEL' | translate }}</label>
                    <nb-select fullWidth name="app_timezone" id="app_timezone" [(ngModel)]="env.APP_TIMEZONE"
                      name="app_timezone">
                      <nb-option *ngFor="let timezone of timezoneList" [value]="timezone">{{ timezone }}</nb-option>
                    </nb-select>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <nb-card>
                <nb-card-header>{{ 'SETTINGS.PUSH_NOTIFICATIONS.LABEL' | translate }}</nb-card-header>
                <nb-card-body>
                  <div class="form-group">
                    <label>{{ 'SETTINGS.EMAIL_SETTINGS.ONESIGNAL_APP_ID_CUSTOMER.LABEL' | translate }}</label>
                    <input nbInput fullWidth [(ngModel)]="env.ONESIGNAL_APP_ID_CUSTOMER"
                      name="ONESIGNAL_APP_ID_CUSTOMER" />
                  </div>
                  <div class="form-group">
                    <label>{{ 'SETTINGS.EMAIL_SETTINGS.ONESIGNAL_REST_API_CUSTOMER.LABEL' | translate }}</label>
                    <input nbInput fullWidth [(ngModel)]="env.ONESIGNAL_REST_API_CUSTOMER"
                      name="ONESIGNAL_REST_API_CUSTOMER" />
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
          <button type="submit" nbButton status="success" size="medium" [nbSpinner]="showProgressButton"
            nbSpinnerStatus="primary" nbSpinnerSize="small">
            {{ 'COMMON.SAVE' | translate }}
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>